@use './colors.scss' as *;

html {
  font-family: 'Quicksand';
}

* {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body {
  margin: 20 20;
  color: white;
  background: black;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  min-width: 500px;
}

a {
  color: $yellow;
  text-decoration: none;
  border-bottom: 2px solid none;
  transition: 0.1s;
  filter: drop-shadow(1px 1px 1px slategray);

  &:hover {
    border-bottom: 2px solid;
    color: $lightblue;
    filter: drop-shadow(1px 1px 1px slategray);
  }
}

.page_title {
  display: block;
  margin: 30px auto;
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: -4px;
  font-weight: 400;
}

img {
  display: center;
  border-radius: 50px;
}