@use 'colors' as *;
@use 'utils' as *;


.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $max-page-width;
  letter-spacing: 1px;
  line-height: 1.6em;
  height: 100%;
  min-width: 500px;
  h1 {
    text-align: center;
    color: white;
    margin: auto;
    margin: 0 0 20 0;
  }

  h2 {
    margin: 0020;
    color: white;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.4;
    width: 100%;

    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
    }
  }
}

.photo_caption {
  margin-top: none;
  color: lightgray;
  font-size: 0.8rem;
  text-align: center;
}
