@use 'colors' as *;
@use 'utils' as *;


.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $max-page-width;
  letter-spacing: 1px;
  line-height: 1.6em;
  height: 100%;
  margin: auto;

  h1 {
    text-align: center;
    color: white;
  }
}

.photo_caption {
  margin-top: none;
  color: lightgray;
  font-size: 1.1rem;
  text-align: center;
}