@use 'colors' as *;
@use 'utils' as *;

.home {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: $max-page-width;
  margin: 60px auto;
  letter-spacing: 1px;
  line-height: 1.6em;
  height: 100%;
  h1{
    text-align: center;
    color: white;
  }
  h2 {
    color: white;
    text-align: center;
    font-size: 1.75rem;
    line-height: 1.4;
    width: 100%;
    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
    }
  }
  @media screen and (max-width: 600px) {
    margin: 60px auto;
  }
}

.photo_caption {
  color: lightgray;
  font-size: 0.8rem;
  text-align: center;
}

#object-position-1 {
  object-position: 100% 50%;
}